<div layout-padding ng-show="uiReady">
  <style>
  .image-cropper {
      display: inline-block;
  }

  .image-cropper img {
    width: 7em;
    border: 2px solid black;
  }
  </style>
  <div>
    <form ng-submit="!loading && controller.submit(user)">
      <div layout layout-sm="column">
        <md-input-container flex class="md-block">
          <label>First Name</label>
          <input ng-model="user.given_name" ng-disabled="isIdentityProviderAccount" required maxlength="255">
        </md-input-container>
        <md-input-container flex class="md-block">
          <label>Last Name</label>
          <input ng-model="user.family_name" ng-disabled="isIdentityProviderAccount" required maxlength="255">
        </md-input-container>
      </div>
      <md-input-container flex class="md-block">
        <label>Email</label>
        <input ng-model="user.email" type="email" ng-disabled="isIdentityProviderAccount" required maxlength="255">
      </md-input-container>
      <div>
        <label for="image-upload">Profile picture</label>
        <input id="image-upload" type="file" aria-label="A picture of your face" name="photo" accept="image/*;capture=camera">
      </div>
      <div layout-padding ng-if="assets.length > 0">
        <div class="image-cropper">
          <img ng-src="https://storage.googleapis.com/{{assets[0].assetId}}">
        </div>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex layout="row">
          <md-button type="submit" class="md-raised md-primary">Update</md-button>
          <md-progress-circular ng-show="loading" md-diameter="45" md-mode="indeterminate"></md-progress-circular>
        </md-input-container>
      </div>
    </form>
  </div>
</div>
<div ng-show="!uiReady" layout="row" layout-margin layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>