<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll title" href="/">JiveCake</a>
        <a class="navbar-brand page-scroll logo-color" href="/terms">Frequently Asked Questions</a>
      </div>
    </div>
  </nav>
</div>
<div class="main product faq" id="main">
  <div class="hero-section">
    <div class="container">
      <div>
        <h3>How much does this service cost?</h3>
        <div>
          <p>&#36;10 per month for each event which you make publicly availible.</p>
        </div>
      </div>
      <div>
        <h3>Does JiveCake charge any other fees?</h3>
        <div>
          <p>JiveCake does not charge any other fees. Your payment provider may charge fees for transactions, charges or refunds. When using Paypal for accepting payments, refer to <a href="https://www.paypal.com/en/webapps/mpp/paypal-fees">Paypal's fee policy</a>. When using Stripe for accepting payments, refer to <a href="https://stripe.com/pricing">Stripe pricing policy</a>.</p>
        </div>
      </div>
      <div>
        <h3>What fees are associated with refunds?</h3>
        <div>
          <p>Your payment processer may impose a fee for a refund. When using Paypal for accepting payments, refer to <a href="https://www.paypal.com/us/selfhelp/article/Common-questions-about-issuing-refunds-FAQ3214">Paypal's fee policy</a>. When using Stripe for accepting payments, refer to <a href="https://stripe.com/docs/refunds">Stripe's fee policy</a>.</p>
        </div>
      </div>
      <div>
        <h3>If I make changes to transactions in my Paypal or Stripe account, do they reflect in my JiveCake account?</h3>
        <div>
          <p>No. Only changes made through JiveCake will be reflected.</p>
        </div>
      </div>
    </div>
  </div>
</div>