<div class="main product" id="main">
  <div class="hero-section">
    <div class="container nopadding">
      <div class="col-md-6">
        <!-- https://static.pexels.com/photos/325521/pexels-photo-325521.jpeg -->
        <img class="img-responsive wow fadeIn" src="/assets/images/cometogether.jpg" alt="Hero Image" />
        <!--
          <img class="img-responsive wow fadeIn" src="/assets/images/friend.jpg" alt="Hero Image" />
        -->
      </div>
      <div class="col-md-6">
        <div class="hero-content">
          <h1 class="wow fadeInUp" data-wow-delay="0s">Bringing people together is easy</h1>
          <p class="wow fadeInUp" data-wow-delay="0.2s">
            Digital event registration
          </p>
          <div class="formee">
            <input type="text" autocomplete="off" placeholder="looking for an event?">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about text-center">
    <div class="container">
      <div class="about-content">
        <h2 class="wow fadeInUp" data-wow-delay="0.1s">
          Simple online registration, create events, sell passes, make yourself and your customers happy
        </h2>
      </div>
    </div>
  </div>
  <div id="features" class="features">
    <div class="container">
      <div class="features-inner">
        <div class="col-md-6">
          <img class="img-responsive wow fadeIn" src="/assets/images/device.jpg" alt="Features" />
        </div>
        <div class="col-md-6">
          <div class="features-list">
            <h1 class="wow fadeInUp" data-wow-delay="0.1s">Simplicity and elegance</h1>
            <ul class="wow fadeInUp" data-wow-delay="0.2s">
              <li>
                Customers check out with your <a href="https://www.paypal.com">Paypal</a>
                or <a href="https://stripe.com">Stripe</a> account
              </li>
              <li>Your money availble instantly</li>
              <li>Export, sort, create and delete with elegance</li>
              <li>Add consent document, automated price increases</li>
              <li>Add users to your organizations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pricing" class="pricing">
    <div class="container">
      <div class="col-md-6">
        <div class="pricing-content">
          <h1 class="wow fadeInUp" data-wow-delay="0.1s">&#36;10 per event per month</h1>
          <h4 class="wow fadeInUp" data-wow-delay="0.2s">No hidden fees, 1st month is free</h4>
          <p class="wow fadeInUp" data-wow-delay="0.3s">
            Get flat predictable pricing so you can focus on what you do best.
          </p>
          <p class="wow fadeInUp" data-wow-delay="0.3s">
            Only pay standard <a href="https://www.paypal.com/en/webapps/mpp/paypal-fees">paypal</a> or <a href="https://stripe.com/us/pricing">stripe</a> processor fees. We won't fine you per transaction.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <!-- https://www.pexels.com/photo/people-coffee-meeting-team-7096/ -->
          <img class="img-responsive wow fadeIn" src="/assets/images/busy.jpg" alt="Image Pricing" />
      </div>
    </div>
  </div>
  <a id="back-top" class="back-to-top page-scroll" href="#main">
    <i class="ion-ios-arrow-thin-up"></i>
  </a>
</div><!-- Main Section -->