<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header page-scroll">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand page-scroll title" href="/">JiveCake</a>
        <a class="navbar-brand page-scroll" href="/terms">Privacy</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a class="page-scroll" href="#contact">Contact</a></li>
          </ul>
      </div>
    </div>
  </nav>
</div>
<div class="main product privacy" id="main">
  <div class="hero-section">
    <div class="container">
      <div>
        <h3>Last updated 16 November 2017</h3>
      </div>
      <div>
        <p>Personally identifiable information collected by JiveCake is not sold to, exposed, or made availible to other entities or persons other than the exceptions listed here. The following personally identifiable information is publicly availible but not searchable</p>
        <ul>
          <li>
            <p>Profile photos you upload to your account</p>
          </li>
          <li>
            <p>Documents associated with your organization hosted on a content delivery service</p>
          </li>
        </ul>
      </div>
      <div>
        <p>Your profile photos may be required by a event organizer. These photos can be used by an event organizer to verify your identity.</p>
        <p>As an organizer, your consent documents are publicly availible at any time. This gives your customers the ability to download or read your consent documents at any time. Other documents genereated by your organization like transaction data in the form of spreadsheets have URL links which expire after a time.</p>
      </div>
      <div>
        <p>The following third-party services are used to manage your data. You are responsible with familiarizing yourself with the privacy policy of each of these services.</p>
      </div>
      <div>
        <ul>
          <li>
            <a href="https://analytics.google.com">Google Analytics</a>
          </li>
          <li>
            <a href="https://auth0.com">Auth0</a>
          </li>
          <li>
            <a href="https://stripe.com">stripe</a>
          </li>
          <li>
            <a href="https://www.paypal.com">paypal</a>
          </li>
          <li>
            <a href="https://www.hotjar.com">hotjar</a>
          </li>
        </ul>
      </div>
      <div>
        <p>By completing a transaction with an organization you are consenting to having your personal information (associated with those transactions) availible to both the organizers with which you have made transactions with and JiveCake indefinitely. Any data created or modified on the system by a user is the property of Trois Inc., as such no user has the right to delete or modify data other than by methods which are provided by the user interface or documented software components.</p>
      </div>
    </div>
  </div>
</div>