@import './color';

ng-md-icon.payment-complete {
  fill: $payment-complete;
}

ng-md-icon.payment-refund {
  fill: #FF6347;
}

ng-md-icon.payment-pending {
  fill: #6495ED;
}

ng-md-icon.payment-bad {
  fill: rgb(221,44,0);
}