@import './color';

ng-md-icon{
  &.payment-complete {
    fill: $payment-complete;
  }

  &.payment-refund {
    fill: $payment-refund;
  }

  &.payment-pending {
    fill: $payment-pending;
  }

  &.payment-bad {
    fill: $payment-bad;
  }
}