{
  "rules": {
      "no-console":0
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "classes": true
    }
  },
  "globals": {
    "document": true,
    "window": true,
    "console": true,
    "location": true,
    "localStorage": true,
    "fetch": true,
    "Headers": true,
    "Promise": true,
    "URLSearchParams": true,
    "Auth0Lock": true,
    "Set": true,
    "StripeCheckout": true,
    "EventSource": true,
    "Uint8Array": true,
    "ArrayBuffer": true,
    "atob": true,
    "FileReader": true,
    "ga": true
  },
  "extends": ["eslint:recommended"]
}