.public-event-page {
  md-toolbar ng-md-icon {
    fill: #FFFFFF;
  }

  .message {
    padding: 15px;
  }

  .md-toolbar-tools > div:not(:first-child) {
    margin-left: 1em;
  }

  @media screen and (max-width: 500px) {
    .consent {
      span {
        font-size: 0.7em;
    }
    }
  }
}