<div class="public-item-page">
  <section>
    <p ng-show="groupData.itemData.length === 0" class="message">Sorry, this event does not have any items to display</p>
    <md-table-container ng-show="uiReady">
      <table ng-model="selected" md-table multiple>
        <tbody md-body>
          <tr md-row md-auto-select ng-repeat="itemData in groupData.itemData track by itemData.item.id">
            <td md-cell>
              <a href="" ng-click="controller.viewItem(itemData.item)">{{itemData.item.name}}</a>
            </td>
            <td md-cell>
              <div ng-show="itemData.amount !== null && groupData.parent.currency " class="amount" layout-align="column">
                <span ng-show="groupData.parent.currency === 'USD'">&#36;</span><span ng-show="groupData.parent.currency === 'EUR'">&#128;</span><span>{{itemData.amount | number:2}}</span>
              </div>
              <span ng-show="itemData.amount === null">free</span>
            </td>
            <td md-cell>
              <md-input-container ng-show="user !== null && itemData.amountSelections.length > 0">
                <md-select aria-label="Quantity" ng-model="itemFormData[itemData.item.id].amount">
                  <md-option ng-selected="$first" ng-repeat="number in itemData.amountSelections" ng-value="number">{{number}}</md-option>
                </md-select>
              </md-input-container>
            </td>
            <td md-cell>
              <div ng-show="(itemData.remainingTotalAvailibleTransactions === null || itemData.remainingTotalAvailibleTransactions &gt; 0) && (itemData.remaingUserTransactions === null || itemData.remaingUserTransactions > 0)">
                <ng-md-icon ng-show="itemData.amount !== null && itemData.amount > 0 && user !== null" ng-click="user !== null && controller.addToCart(itemData, itemFormData[itemData.item.id].amount)" icon="add_shopping_cart"></ng-md-icon>
                <ng-md-icon ng-show="(itemData.amount === null || itemData.amount === 0) && user !== null" ng-click="controller.purchase(itemData.item, itemFormData[itemData.item.id].amount)" icon="add"></ng-md-icon>
              </div>
              <md-button ng-show="itemData.remainingTotalAvailibleTransactions !== null && itemData.remainingTotalAvailibleTransactions &lt; 1" ng-disabled="true" class="md-raised">sold out</md-button>
              <md-button ng-show="(itemData.remainingTotalAvailibleTransactions === null || itemData.remainingTotalAvailibleTransactions &gt; 0) && (itemData.remaingUserTransactions !== null && itemData.remaingUserTransactions &lt; 1)" ng-disabled="true" class="md-raised">limit reached</md-button>
            </td>
          </tr>
          <tr ng-show="data.length === 0" md-row>
            <td md-cell colspan="4">
              <span>No items found</span>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </section>
  <div ng-show="!uiReady" layout="row" layout-margin layout-align="center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div ng-show="user === null && groupData.itemData.length > 0" layout-padding>
    <h4>You must <a href="" ng-click="controller.login()">log in</a> to purchase items</h4>
  </div>
</div>