<div class="public-item-page" ng-show="uiReady">
  <section ng-show="groupData.parent.currency !== null && groupData.parent.paymentProfileId !== null">
    <md-table-container>
      <table ng-model="selected" md-table multiple>
        <tbody md-body>
          <tr md-row md-auto-select ng-repeat="itemData in groupData.itemData track by itemData.item.id">
            <td md-cell>
              <a href="" ng-click="controller.viewItem(itemData.item)">{{itemData.item.name}}</a>
            </td>
            <td md-cell>
              <div ng-show="itemData.amount !== null" class="amount" layout-align="column">
                <span ng-show="groupData.parent.currency === 'USD'">&#36;</span><span ng-show="groupData.parent.currency === 'EUR'">&#128;</span><span>{{itemData.amount | number:2}}</span>
              </div>
              <span ng-show="itemData.amount === null">free</span>
            </td>
            <td md-cell>
              <md-input-container>
                <md-select ng-show="itemData.amountSelections.length > 1" ng-disabled="user === null || itemData.amountSelections.length === 1 || !groupData.parent.hasCurrencyAndPaymentProfile()" aria-label="Quantity" ng-model="itemFormData[itemData.item.id].amount">
                  <md-option ng-selected="$first" ng-repeat="number in itemData.amountSelections" ng-value="number">{{number}}</md-option>
                </md-select>
              </md-input-container>
            </td>
            <td md-cell>
              <ng-md-icon ng-show="itemData.remainingTotalAvailibleTransactions !== null && itemData.remainingTotalAvailibleTransactions &lt; 1 || ((itemData.remaingUserTransactions !== null && itemData.remaingUserTransactions &lt; 1))" icon="block"></ng-md-icon>
            </td>
          </tr>
          <tr ng-show="data.length === 0" md-row>
            <td md-cell colspan="4">
              <span>No items found</span>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </section>
  <div ng-show="hasAnySelections && user !== null && !(groupData.parent.currency === null || groupData.parent.paymentProfileId === null)" class="checkout" ng-click="controller.checkout(groupData, itemFormData)">
    <ng-md-icon size="50" icon="payment"></ng-md-icon>
  </div>
  <div ng-show="user === null && groupData.itemData.length > 0" layout-padding>
    <h4>You must <a href="" ng-click="controller.login()">log in</a> to purchase items</h4>
  </div>
  <div ng-show="groupData.itemData.length === 0" layout-padding>
    <p class="message">Sorry, this event does not have any items to display</p>
  </div>
  <div ng-show="groupData.parent.currency === null || groupData.parent.paymentProfileId === null" layout-padding>
    <p>Sorry, this event does not have any valid payment options</p>
  </div>
</div>
<div ng-show="!uiReady" layout="row" layout-margin layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>