@import './color';

.img-responsive {
  border: 2px solid black;
}

.terms, .privacy, .faq {
  .hero-section > .container > div:not(:first-child) {
    margin-top: 1em;
  }

  .hero-section h3 {
    font-weight: bold;
    margin-bottom: 1em;
  }

  a {
    font-family: Roboto;
  }
}

.privacy {
  ul {
    margin-left: 1em;
  }

  li {
    margin-top: 1em;
  }
}

.navbar-header .title {
  color: $logo-color;
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.btn-github {
  background-color: #444;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
  background-color: #55acee;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.blog {
  margin-bottom: 2em;

  h1 {
    font-weight: bold;
    font-size: 1.8em;
  }

  .container > div {
    margin-top: 1em;
  }

  &.rugby {
    img {
      border: 2px solid black;
      width: 60%;
    }
  }
}