<div ng-show="uiReady" class="read-item-page">
  <md-table-container>
    <table ng-model="selected" md-table md-row-select multiple>
      <tbody md-body>
        <tr md-row md-auto-select ng-repeat="itemData in data track by itemData.item.id">
          <td md-cell class="name">
            <div>
              <p>{{itemData.item.name}}</p>
              <a ui-sref="application.internal.event.read({highlight: itemData.event.id})">{{itemData.event.name}}</a>
            </div>
          </td>
          <td md-cell class="count">
            <a ui-sref="application.internal.transaction.read({itemId: itemData.item.id})">{{itemData.transactions.length}}</a>
            <span>&nbsp;/&nbsp;</span><span ng-show="itemData.item.totalAvailible === null">&infin;</span>
            <span ng-show="itemData.item.totalAvailible !== null">{{itemData.item.totalAvailible}}</span>
          </td>
          <td md-cell class="publish">
            <md-input-container class="md-block">
              <md-checkbox ng-model="itemData.item.status" ng-true-value="0" ng-false-value="1" ng-change="controller.toggleStatus(itemData.item)" ng-disabled="!itemData.permission.write" aria-label="Publish">
                <span class="publish">publish</span>
              </md-checkbox>
            </md-input-container>
          </td>
          <td md-cell>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open Event Options" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item ng-show="itemData.permission.write">
                  <md-button ui-sref="application.internal.transaction.create({itemId: itemData.item.id})">
                    <span md-menu-align-target>create transaction</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="itemData.permission.write">
                  <md-button ui-sref="application.internal.item.update({itemId: itemData.item.id})">
                    <span md-menu-align-target>update</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="controller.downloadTransactions(itemData.item)">
                    <span md-menu-align-target>download transactions</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="itemData.permission.write">
                  <md-button ng-click="controller.delete(itemData, $event)">
                    <span md-menu-align-target>delete</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-button ui-sref="application.internal.transaction.read({itemId: itemData.item.id})" aria-label="View Transactions" class="md-icon-button">
              <ng-md-icon icon="arrow_forward"></ng-md-icon>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-show="data.length === 0">
          <td md-cell colspan="3">
            <span class="md-subheader">No items found</span>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
<div ng-show="!uiReady" layout-margin layout="row" layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="Add" ng-click="controller.createItem()">
  <ng-md-icon size="35" icon="add"></ng-md-icon>
</md-button>