<div class="update-event-page">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h3>Update {{::event.name}}</h3>
    </div>
  </md-toolbar>
  <div class="md-inline-form" ng-show="uiReady" layout-padding>
    <form ng-submit="form.$valid && controller.submit(event, timeStart, timeEnd)" name="form">
      <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="event.name" maxlength="100" placeholder="name" required>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="event.description" maxlength="1000" rows="3" md-select-on-focus>
        </textarea>
      </md-input-container>
      <div>
        <h4>Social Media</h4>
      </div>
      <md-input-container class="md-block">
        <label>FaceBook Event Url</label>
        <input title="https://facebook.com/events/12345" pattern="https://facebook\.com/events/\d+" ng-model="event.facebookEventId">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Twitter URL</label>
        <input title="https://twitter.com/example" pattern="https://twitter\.com/.+" ng-model="event.twitterUrl">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Your Event Website Url</label>
        <input title="https://website.com/example" pattern="^(http(|s)://).+" ng-model="event.websiteUrl">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Social Media Preview Image URL</label>
        <input title="https://website.com/image.png" pattern="^(http(|s)://).+" ng-model="event.previewImageUrl">
      </md-input-container>
      <div>
        <h4>Registration requirements</h4>
      </div>
      <md-input-container class="md-block" layout="row">
        <md-checkbox ng-true-value="true" ng-true-value="false" ng-model="event.requireName" aria-label="Require Name">Require Name</md-checkbox>
      </md-input-container>
      <md-input-container class="md-block" layout="row">
        <md-checkbox ng-true-value="true" ng-true-value="false" ng-model="event.requireOrganizationName" aria-label="Require Organization Name">Require Organization Name</md-checkbox>
      </md-input-container>
      <md-input-container class="md-block" layout="row">
        <md-checkbox ng-true-value="true" ng-true-value="false" ng-model="event.requirePhoto" aria-label="Require Photo">Require Photo</md-checkbox>
      </md-input-container>
      <md-input-container class="md-block" layout="row">
        <md-checkbox ng-true-value="true" ng-true-value="false" ng-model="event.assignIntegerToRegistrant" aria-label="Assign Integer">Assign Integer to Registrants</md-checkbox>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Consent Acknowledgement Document</label>
        <md-select ng-show="consentAssets.length > 0" ng-model="event.entityAssetConsentId" aria-label="Consent Acknowledgement Document">
          <md-option ng-value="null"></md-option>
          <md-option ng-repeat="asset in consentAssets" ng-value="asset.id">{{asset.name}}</md-option>
        </md-select>
        <a ng-show="consentAssets.length === 0" href="" ng-click="controller.addConsentAcknowledgement(event)">add consent document</a>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Payment Profile</label>
        <a href="" ng-click="controller.createPaymentProfile()" ng-show="paymentProfiles.length === 0">Create a Payment Profile</a>
        <md-select ng-if="paymentProfiles !== null" ng-show="paymentProfiles.length > 0" ng-model="event.paymentProfileId" ng-required="event.currency" aria-label="Payment Profile" name="paymentProfile">
          <md-option ng-value="null"></md-option>
          <md-option ng-repeat="profile in paymentProfiles track by profile.id" ng-value="profile.id">
            {{profile.email || profile.stripe_publishable_key}}
            <i ng-show="!profile.hasOwnProperty('stripe_publishable_key')" class="fa fa-paypal" aria-hidden="true"></i>
            <i ng-show="profile.hasOwnProperty('stripe_publishable_key')" class="fa fa-cc-stripe" aria-hidden="true"></i>
          </md-option>
        </md-select>
        <div ng-messages="form.paymentProfile.$error">
          <p ng-message="required">Payment Profile is required</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Currency</label>
        <md-select ng-model="event.currency" ng-required="event.paymentProfileId" name="currency">
          <md-option ng-selected="true" ng-value="null"></md-option>
          <md-option value="USD">US Dollars</md-option>
          <md-option value="EUR">Euro</md-option>
        </md-select>
        <div class="errors" ng-messages="form.currency.$error">
          <div ng-message="required">Currency is required</div>
        </div>
      </md-input-container>
      <div>
        <h5>Start and End Time - Timezone: {{currentDate| browserTimeZoneAbbreviation}}</h5>
      </div>
      <div layout="row">
        <md-datepicker md-placeholder="Start Date" ng-model="timeStart.time"></md-datepicker>
        <md-input-container class="md-block">
          <md-select ng-model="timeStart.hour" aria-label="Start Time Hour">
            <md-option ng-value="null"></md-option>
            <md-option ng-repeat="hour in hours track by hour" ng-value="hour">{{hour &lt; 10 ? '0' +  hour : hour}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <md-select ng-model="timeStart.minute" aria-label="Start Time Minute">
            <md-option ng-value="null"></md-option>
            <md-option ng-repeat="minute in minutes track by minute" ng-value="minute">{{minute &lt; 10 ? '0' + minute : minute}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-datepicker md-placeholder="End Date" ng-model="timeEnd.time"></md-datepicker>
        <md-input-container class="md-block">
          <md-select ng-model="timeEnd.hour" name="timeEndHour" aria-label="End Time Hour">
            <md-option ng-value="null"></md-option>
            <md-option ng-repeat="hour in hours track by hour" ng-value="hour">{{hour &lt; 10 ? '0' +  hour : hour}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <md-select ng-model="timeEnd.minute" name="timeEndMinute" aria-label="End Time Minute">
            <md-option ng-value="null"></md-option>
            <md-option ng-repeat="minute in minutes track by minute" ng-value="minute">{{minute &lt; 10 ? '0' + minute : minute}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout layout-sm="row">
        <md-input-container class="md-block">
          <md-button ui-sref="application.internal.event.read" class="md-raised">Cancel</md-button>
        </md-input-container>
        <md-input-container class="md-block">
          <md-button type="submit" class="md-raised md-primary">Update</md-button>
        </md-input-container>
        <md-input-container ng-show="loading">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </md-input-container>
      </div>
    </form>
  </div>
  <div ng-show="!uiReady" layout="row" layout-margin layout-align="center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>