<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>Frequently Asked Questions</h3>
  </div>
</md-toolbar>
<div layout-padding>
  <div>
    <h3>How much does this service cost?</h3>
    <div layout-padding>
      <p>&#36;10 per month for each event which you make publicly availible.</p>
    </div>
  </div>
  <div>
    <h3>Does JiveCake charge any other fees?</h3>
    <div layout-padding>
      <p>JiveCake does not charge any other fees. Your payment provider may charge fees for transactions, charges or refunds. When using Paypal for accepting payments, refer to <a href="https://www.paypal.com/en/webapps/mpp/paypal-fees">Paypal's fee policy</a>. When using Stripe for accepting payments, refer to <a href="https://stripe.com/us/pricing">Stripe pricing policy</a>.</p>
    </div>
  </div>
  <div>
    <h3>What fees are associated with refunds?</h3>
    <div layout-padding>
      <p>Your payment processer may impose a fee for a refund. When using Paypal for accepting payments, refer to <a href="https://www.paypal.com/us/selfhelp/article/Common-questions-about-issuing-refunds-FAQ3214">Paypal's fee policy</a>. When using Stripe for accepting payments, refer to <a href="https://stripe.com/docs/refunds">Stripe's fee policy</a>.</p>
    </div>
  </div>
  <div>
    <h3>If I make changes to transactions in my Paypal or Stripe account, do they reflect in my JiveCake account?</h3>
    <div layout-padding>
      <p>No. Only changes made through JiveCake will be reflected.</p>
    </div>
  </div>
</div>