<div>
  <md-autocomplete flex
      md-search-text="searchText"
      md-selected-item="event"
      md-items="event in controller.query(searchText)"
      md-item-text="event.name"
      md-delay="500"
      md-min-length="2"
      md-selected-item-change="controller.selected()"
      placeholder="looking for an event?">
      <md-item-template>
        <span md-highlight-text="eventSearchText" md-highlight-flags="^i">{{event.name}}</span>
      </md-item-template>
      <md-not-found>no results found</md-not-found>
  </md-autocomplete>
</div>
<div class="home-page">
  <section class="jivecake">
    <h1>jivecake</h1>
    <h3>simple online registration</h3>
  </section>
  <section class="paid">
    <h1>it's your money</h1>
    <h5>get your money instantly with <a href="https://www.paypal.com/">paypal</a></h5>
    <h5>track cash transactions</h5>
  </section>
  <section class="registration">
    <h1>manage your registrations</h1>
    <h5>manage automated price increases</h5>
    <h5>get the information you need instantly</h5>
    <h5>search, revoke, create, manage all your customers with elegance</h5>
  </section>
  <section class="pricing">
    <h1>$30 per month per event</h1>
    <h1>1st month is free</h1>
    <h5>flat pricing, no hidden fees</h5>
    <h5>unlimited transactions</h5>
  </section>
  <section class="footer">
      <ul>
        <li>
          <a href="https://github.com/troisio">we're 100% open source</a>
        </li>
        <li>
          <a ui-sref="application.public.terms">terms of service</a>
        </li>
        <li>
          <a href="/blog/helloworld.html">blog</a>
        </li>
        <li>
          contact@jivecake.com
        </li>
      </ul>
  </section>
</div>