<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>JiveCake</h3>
  </div>
</md-toolbar>
<div layout-padding class="home-page">
  <h3>The simple way to manage registrations</h3>
  <h2>The low down:</h2>
  <div layout-padding>
    <div class="pricing" layout="column">
      <h3>Pricing:</h3>
      <p>$30 per month per event + <a href="https://www.paypal.com/webapps/mpp/paypal-fees">paypal fees</a></p>
      <div layout-padding>
        <ul>
          <li>
            <p>No hidden fees</p>
          </li>
          <li>
            <p>Unlimited transactions</p>
          </li>
        </ul>
      </div>
    </div>
    <div layout="column">
      <h3>Get Paid</h3>
      <div layout-padding>
        <ul>
          <li>
            <p>Use your <a href="https://www.paypal.com">Paypal</a> account to get paid instantly</p>
          </li>
        </ul>
      </div>
    </div>
    <div layout="column">
      <h3>Management</h3>
      <div layout-padding>
        <ul>
          <li>
            <p>No need for paper, whip out that phone and view your purchases</p>
          </li>
          <li>
            <p>Set automatic price increases for your items</p>
          </li>
          <li>
            <p>Quickly sort and export all your transactions</p>
          </li>
          <li>
            <p>Use FaceBook or Google to sign up or login</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div layout="column">
    <h3>business stuff</h3>
    <div layout-padding>
      <ul>
        <li>
          <a ui-sref="application.public.terms">terms of service</a>
        </li>
        <li>
          <a href="/blog/helloworld.html">blog</a>
        </li>
        <li>
          <a href="https://twitter.com/JiveCake">twitter</a>
        </li>
        <li>
          contact@jivecake.com
        </li>
      </ul>
    </div>
  </div>
</div>