<div layout="row">
  <md-autocomplete flex
      md-search-text="searchText"
      md-selected-item="event"
      md-items="event in controller.query(searchText)"
      md-item-text="event.name"
      md-delay="500"
      md-min-length="2"
      md-selected-item-change="controller.selected()"
      placeholder="search">
      <md-item-template>
        <span md-highlight-text="eventSearchText" md-highlight-flags="^i">{{event.name}}</span>
      </md-item-template>
      <md-not-found>no results found</md-not-found>
  </md-autocomplete>
</div>
<div layout-padding class="home-page">
  <h3>The simpler way to manage registrations</h3>
  <div layout-padding>
    <div class="pricing" layout="column">
      <h3>Pricing</h3>
      <div layout-padding>
        <ul>
          <li>
            <p>$30 per month per event + <a href="https://www.paypal.com/webapps/mpp/paypal-fees">paypal fees</a></p>
          </li>
          <li>
            <p>No hidden fees</p>
          </li>
          <li>
            <p>Unlimited transactions</p>
          </li>
        </ul>
      </div>
    </div>
    <div layout="column">
      <h3>Get Paid</h3>
      <div layout-padding>
        <ul>
          <li>
            <p>Use your <a href="https://www.paypal.com">Paypal</a> account to get paid instantly</p>
          </li>
        </ul>
      </div>
    </div>
    <div layout="column">
      <h3>Management</h3>
      <div layout-padding>
        <ul>
          <li>
            <p>No need for paper, whip out that phone and view your purchases</p>
          </li>
          <li>
            <p>Set automatic price increases for your items</p>
          </li>
          <li>
            <p>Quickly sort and export all your transactions</p>
          </li>
          <li>
            <p>Use Facebook or Google to sign up or login</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div layout="column">
    <h3>business stuff</h3>
    <div layout-padding>
      <ul>
        <li>
          <a ui-sref="application.public.terms">terms of service</a>
        </li>
        <li>
          <a href="/blog/helloworld.html">blog</a>
        </li>
        <li>
          <a href="https://twitter.com/JiveCake">twitter</a>
        </li>
        <li>
          contact@jivecake.com
        </li>
      </ul>
    </div>
  </div>
</div>