<div layout="row">
  <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
    <ng-md-icon icon="menu"></ng-md-icon>
  </md-button>
</div>
<div layout="column">
  <md-tabs ng-show="showTabs" md-selected="selectedTab">
    <md-tab ui-sref="application.internal.organization.read" label="Organizations"></md-tab>
    <md-tab ui-sref="application.internal.event.read({organizationId: organizationIds})" label="Events"></md-tab>
    <md-tab ui-sref="application.internal.item.read({organizationId: organizationIds})" label="Items"></md-tab>
    <md-tab ui-sref="application.internal.transaction.read({organizationId: organizationIds})" label="Transactions"></md-tab>
  </md-tabs>
</div>
<ui-view flex md-scroll-y>
</ui-view>