<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>Terms of Service</h3>
  </div>
</md-toolbar>
<div layout-padding>
  <h2>JiveCake Terms of Service</h2>

  <strong>Last updated 12 August 2016</strong>

  <p>JiveCake and its related software components is a service provided by <a href="http://trois.io">Trois Inc.</a></p>
  <p>By accessing, downloading, or using JiveCake or any of its associated APIs you are agreeing to the following terms</p>
  <div>
    <h3>License</h3>
    <div layout-padding>
      <p>Trois Inc. grants you a non-exclusive, non-transferable license to use JiveCake and any of its associated software components</p>
      <p>JiveCake reserves the right to un-publish any content on JiveCake</p>
      <p>This license may be rejected, without warning, at any time</p>
    </div>
  </div>
  <div>
    <h3>Prohibited Use</h3>
    <p>Any user of JiveCake are prohibited from doing any of the following</p>
    <div layout-padding>
      <p>1. Reverse engineering any source code for undocumented or illegal use</p>
      <p>2. Redistribute or copy in private or in public any portion of this software or its source code digitally or otherwise</p>
      <p>3. Manipulate, read, or write to any data which one does not have ownership over</p>
      <p>4. Redistribute, copy or sell or use any software components, directly or indirectly, to other individuals or entities</p>
      <p>5. Make attempts to take actions which are detrimental to the fitness of the software or and any of its associated components</p>
      <p>6. Use the software to create or use an identity other than your own, an identity of an entity which you do not own, or an identity which is ficticious</p>
      <p>7. Publish any content which violates any state or federal laws in Europe or the United States, or publish content which you do not have ownership of</p>
    </div>
  </div>
  <div>
    <h3>Assumption of Risk</h3>
    <div layout-padding>
      <p>Users assumes all risk for any financial transaction on JiveCake which are used to purchase anything sold by another user of JiveCake</p>
      <p>JiveCake does and will not arbitrate or ammend any alleged losses (legitimate or otherwise) which are generated as a result of financial transactions using JiveCake</p>
      <p>Errors in the software may cause unintended consequences for users of JiveCake, it is the intention of JiveCake to repair any faulty software as quickly as possible</p>
      <p>No particular software component is guaranteed to continue to exist indefinitely, as such JiveCake can suspend any service or feature at any time</p>
      <p>It is the responsibility of the user to collect copies of their own data should any service, data or feature become subsequently unavailible</p>
    </div>
  </div>
  <div>
    <h3>Privacy</h3>
    <div layout-padding>
      <p>JiveCake exposes public non-identifiable data about users</p>
      <p>Public identifiable data is not exposed in JiveCake</p>
      <p>Private identifiable data is exposed to other users who manage organizations</p>
      <p>JiveCake clients use <a href="https://analytics.google.com">Google Analytics</a> for analyzing user traffic, read Google's <a href="https://www.google.com/intl/en/policies/privacy/">privacy policy</a></p>
      <p>By beginning any transaction, you are consenting to having your data indefinitely availible to both the organizers with which you have made transactions with and JiveCake</p>
      <p>Any data created or modified on the system by a user is the property of Trois Inc., as such no user has the right to delete or modify data other than by methods which are provided by the user interface or documented software components</p>
    </div>
  </div>
  <div>
    <h3>Liability for our Services</h3>
    <div layout-padding>
      <p>The total financial liability assumed by JiveCake can not exceed (as applicable by law) the amount of monies used to pay for the service during the time the services was used.</p>
      <p>In all cases, JiveCake is not responsible for any damages which are generated from normal, advertised or documented usage of the software</p>
    </div>
  </div>
  <div>
    <h3>Modification of Terms of Service</h3>
    <div layout-padding>
      <p>These terms can be modified at any time without warning, it is the responsibility of the user to be aware of these terms by frequenting this page</p>
      <p>If you disagree or will not abide by any of these terms, do not continue to use this software</p>
    </div>
  </div>
</div>