<md-dialog flex="80">
  <div layout-padding class="md-inline-form">
    <form ng-submit="!loading && controller.submit(type, profile)">
      <md-input-container>
        <md-select aria-label="Payment Profile Type" ng-model="type">
          <md-option ng-value="'paypal'">
            Paypal
            <i class="fa fa-paypal" aria-hidden="true"></i>
          </md-option>
          <md-option ng-value="'stripe'">
            Stripe
            <i class="fa fa-cc-stripe" aria-hidden="true"></i>
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" ng-show="type === 'paypal'">
        <label>Paypal Email</label>
        <input autocomplete="off" type="email" ng-model="profile.email" maxlength="255" ng-required="type === 'paypal'">
      </md-input-container>
      <div layout layout-sm="row" ng-show="type === 'stripe'">
        <md-input-container class="md-block">
          <md-checkbox ng-model="hasStripeAccount" aria-label="Has stripe account">I have a Stripe account</md-checkbox>
        </md-input-container>
      </div>
      <div>
        <a ng-show="type === 'paypal'" href="https://www.paypal.com/en/webapps/mpp/paypal-fees">Paypal fee policy</a>
        <a ng-show="type === 'stripe'" href="https://stripe.com/us/pricing">Stripe pricing policy</a>
      </div>
      <div layout layout-sm="row">
        <md-input-container class="md-block">
          <md-button type="button" ng-click="close()" class="md-raised">Cancel</md-button>
        </md-input-container>
        <md-input-container class="md-block">
          <md-button type="submit" ng-disabled="" class="md-raised md-primary">Create</md-button>
        </md-input-container>
        <md-input-container ng-show="loading">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </md-input-container>
      </div>
    </form>
  </div>
</md-dialog>