<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>Cart</h3>
  </div>
</md-toolbar>
<div ng-show="uiReady" ng-repeat="group in groups track by group.parent.id" layout-padding>
  <div>
    <a href="" ui-sref="application.public.event.item({id: group.parent.id})">
      <h3>{{group.parent.name}}</h3>
    </a>
  </div>
  <md-table-container>
    <table ng-model="selected" md-table md-row-select multiple>
      <tr md-row md-auto-select ng-repeat="itemData in group.itemData track by itemData.item.id">
        <td md-cell>
          <h5>{{itemData.item.name}}</h5>
        </td>
        <td md-cell>
          <h5>
            <span ng-show="group.parent.currency === 'USD'">&#36;</span>
            <span ng-show="group.parent.currency === 'EUR'">&#128;</span>
            <span>{{itemData.amount| number: 2}}</span>
          </h5>
        </td>
        <td md-cell>
          <md-select ng-change="controller.selectAmount(itemData.item, itemData.count)" aria-label="Amount" ng-model="itemData.count">
            <md-option ng-selected="itemData.count === number" ng-repeat="number in itemData.amountSelections track by $index" ng-value="number">{{number}}</md-option>
          </md-select>
        </td>
        <td md-cell>
          <ng-md-icon ng-click="controller.remove(group, itemData)" icon="remove_shopping_cart">remove</ng-md-icon>
        </td>
      </tr>
      <tr md-row>
        <td md-cell colspan="3">
        </td>
        <td md-cell>
          <md-button ui-sref="application.public.checkout({entityId: group.entity.id})" class="md-raised md-primary">checkout</md-button>
        </td>
      </tr>
    </table>
  </md-table-container>
</div>
<div layout-padding>
  <h4 ng-show="groups.length === 0">Your cart is empty</h4>
</div>
<div layout="row" layout-align="center">
  <md-input-container ng-show="!uiReady">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </md-input-container>
</div>