<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>Checkout</h3>
  </div>
</md-toolbar>
<md-table-container ng-show="uiReady">
  <table ng-model="selected" md-table multiple>
    <tbody md-body>
      <tr md-row md-auto-select ng-repeat="itemData in group.itemData track by itemData.item.id">
        <td md-cell>
          <strong>{{itemData.item.name}}</strong>
        </td>
        <td md-cell>
          <strong>{{itemData.count}}</strong>
          <span>&#215;</span>
          <span ng-show="group.parent.currency === 'USD'">&#36;</span>
          <span ng-show="group.parent.currency === 'EUR'">&#128;</span>
          <strong>{{itemData.amount | number: 2}}</strong>
        </td>
      </tr>
      <tr md-row>
        <td md-cell>
          <div layout="row">
            <md-button ui-sref="application.public.cart" class="md-raised">cancel</md-button>
            <form ng-submit="submit($event)" action="https://www.paypal.com/cgi-bin/webscr" method="POST">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="upload" value="1">
              <input type="hidden" name="business" ng-value="paymentProfile.email">
              <input type="hidden" name="currency_code" ng-value="group.parent.currency">
              <input type="hidden" name="notify_url" ng-value="notify_url">
              <input type="hidden" name="custom" ng-value="custom">
              <input type="hidden" name="return" ng-value="returnUrl">
              <div ng-repeat="itemData in group.itemData track by itemData.item.id">
                <input type="hidden" name="item_name_{{$index + 1}}" ng-value="itemData.item.name">
                <input type="hidden" name="amount_{{$index + 1}}" ng-value="itemData.amount">
                <input type="hidden" name="item_number_{{$index + 1}}" ng-value="itemData.item.id">
                <input type="hidden" name="quantity_{{$index + 1}}" ng-value="itemData.count">
              </div>
              <md-button type="submit" class="md-raised md-primary">checkout</md-button>
            </form>
          </div>
        </td>
        <td md-cell>
          <span ng-show="group.parent.currency === 'USD'">&#36;</span>
          <span ng-show="group.parent.currency === 'EUR'">&#128;</span>
          <strong>{{total| number: 2}}</strong>
        </td>
      </tr>
      <tr md-row>
        <td md-cell colspan="2">
          <img style="margin-top: 2em;" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges">
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<div ng-show="!uiReady" layout="row" layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>