<md-table-container ng-show="uiReady">
  <table ng-model="controller.selected" md-table multiple>
    <tbody md-body>
      <tr md-row md-auto-select ng-repeat="row in rows track by row.Transaction.id">
        <td md-cell>
          <a ng-show="!((row.Item.description === null || row.Item.description.trim().length === 0) && row.Item.timeStart === null && row.Item.timeEnd === null)" href="" ng-click="controller.viewItem(row.Item)">{{row.Item.name}}</a>
          <span ng-show="(row.Item.description === null || row.Item.description.trim().length === 0) && row.Item.timeStart === null && row.Item.timeEnd === null">{{row.Item.name}}</span>
        </td>
        <td md-cell>
          <i ng-click="controller.showQR(row.Transaction)" ng-show="row.Event.qr" class="fa fa-2x fa-qrcode" aria-hidden="true"></i>
        </td>
        <td md-cell>
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open Event Options" class="md-icon-button" ng-click="controller.readTransaction(row)">
              <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
            <md-menu-content width="2">
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
      <tr md-row>
        <td md-cell colspan="3">
          <span class="md-subheader" ng-show="rows.length === 0">You have no transactions</span>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<div ng-show="!uiReady" layout="row" layout-margin layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>