<md-dialog flex="80">
  <div layout-padding>
    <form ng-submit="submit(selectedUser, permissions, include)">
      <md-autocomplete
      placeholder="Search for a user..."
      ng-required="true"
      md-no-cache="true"
      md-delay="500"
      md-selected-item="selectedUser"
      md-search-text="text"
      md-items="user in query(text)"
      md-item-text="user| userIdentificationFilter: true">
        <md-item-template>
          <span>{{user| userIdentificationFilter: true}}</span>
          <i ng-show="userService.hasFacebookIdentity(user)" class="fa fa-facebook" aria-hidden="true"></i>
          <i ng-show="userService.hasGoogleIdentity(user)" class="fa fa-google" aria-hidden="true"></i>
        </md-item-template>
        <md-not-found>No users found</md-not-found>
      </md-autocomplete>
      <md-input-container class="md-block">
        <label>Permissions</label>
      </md-input-container>
      <div layout="row">
        <md-select aria-label="Inclusion" ng-model="include" ng-change="changeInclusion(include)">
          <md-option ng-value="0">All</md-option>
          <md-option ng-value="1">including</md-option>
          <md-option ng-value="2">excluding</md-option>
        </md-select>
      </div>
      <div layout="row">
        <div ng-repeat="permission in types" layout="column" layout-padding>
          <md-checkbox ng-model="permissions[permission]" ng-disabled="include === 0">
            <span ng-show="permission === 0">read</span>
            <span ng-show="permission === 1">write</span>
          </md-checkbox>
        </div>
      </div>
      <div layout-sm="column">
        <md-input-container flex>
          <md-button ng-click="close()" type="button" class="md-raised">cancel</md-button>
        </md-input-container>
        <md-input-container flex>
          <md-button ng-disabled="selectedUser === null" type="submit" class="md-raised md-primary">add</md-button>
        </md-input-container>
        <md-input-container flex ng-show="loading">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </md-input-container>
      </div>
    </form>
  </div>
</md-dialog>