<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll title" href="/">JiveCake</a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="main product blog rugby" id="main">
  <div class="hero-section">
    <div class="container">
      <div>
        <h1>Your rugby tournament is a few months away</h1>
      </div>
      <div>
        <img src="/assets/images/rugby1.jpg">
      </div>
      <div>
        <p>You've invited all the teams, confrmed the date and the pitch. Still have to work out water logistics, call the referee union.</p>
      </div>
      <div>
        <p>Make sure you order the portable toilets, speak with the vendors, order the balls and post protectors, line the fields.</p>
      </div>
      <div>
        <p>Find a hotel, transportation, meals and hire the medics.</p>
      </div>
      <div>
        <p>Oh right, almost forgot, we have to pay for all those things.</p>
      </div>
      <div>
        <p>For $10 a month you can make getting paid on time easy.</p>
      </div>
      <div>
        <a class="btn btn-primary btn-action" href="/">get more information</a>
      </div>
      <div>
        <p>Questions? <a href="https://facebook.com/jivecake">Send us a message</a></p>
      </div>
    </div>
  </div>
</div>