<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll title" href="/">JiveCake</a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="page-scroll" href="#contact">Contact</a></li>
          <li><a class="page-scroll login" href="">My Account</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="main product blog rugby" id="main">
  <div class="hero-section">
    <div class="container">
      <div>
        <h1>Your rugby tournament is a few months away</h1>
      </div>
      <div>
        <!-- https://pixabay.com/en/rugby-sport-football-rugby-ball-1054275/ -->
        <img src="/assets/images/rugby1.jpg">
      </div>
      <div>
        <p>You've invited all the teams, confrmed the date and the pitch. Still have to work out water logistics, call the referee union.</p>
      </div>
      <div>
        <p>Make sure you order the portable toilets, speak with the vendors, order the balls and post protectors, line the fields.</p>
      </div>
      <div>
        <p>Find a hotel, transportation, meals and hire the medics...</p>
      </div>
      <div>
        <p>Oh right, we have to pay for all those things.</p>
      </div>
      <div>
        <p>For $10 a month you can make getting paid on time easy for you and your teams.</p>
      </div>
      <div class="signup" style="display: none;">
        <div class="signup-form wow">
          <form class="registration-form">
            <div style="display: none" class="email-taken error-message" role="alert">
              <strong>Sorry, that email has been taken</strong>
            </div>
            <div class="form-group">
              <label for="email" class="sr-only" for="form-name">Email</label>
              <input id="email" type="email" maxlength="100" required placeholder="Enter your email..." class="form-name form-control">
            </div>
            <div class="form-group">
              <label for="eventName" class="sr-only">Your event name</label>
              <input id="eventName" type="text" maxlength="100" required placeholder="Enter event name..." class="form-control">
            </div>
            <div class="form-group same-as-event">
              <input id="sameAsEvent" checked type="checkbox" class="form-control">
              <label for="sameAsEvent">Same as event name</label>
            </div>
            <div class="form-group">
              <label for="organizationName" class="sr-only" for="form-phone">Organization name</label>
              <input id="organizationName" maxlength="100" required disabled type="text" placeholder="Enter organization name..." class="form-control">
            </div>
            <button type="submit" class="btn">Log in and create</button>
          </form>
        </div>
      </div>
      <div>
        <p>Questions? <a href="https://facebook.com/jivecake">Send us a message</a> or <a href="/">get more information</a></p>
      </div>
    </div>
  </div>
</div>