<md-dialog layout-padding flex="80">
  <form name="form" ng-submit="form.$valid && controller.submit(controller.feature)">
    <div layout="column">
      <div layout-padding layout="row">
        <label>Start Time</label>
        <md-datepicker required name="timeStart" ng-model="controller.feature.timeStart"></md-datepicker>
        <div ng-show="form.timeEnd.$touched || form.$submitted" ng-messages="form.timeStart.$error">
          <p ng-message="required">Date is required</p>
        </div>
      </div>
      <div layout-padding layout="row">
        <label>End Time</label>
        <md-datepicker required name="timeEnd" ng-model="controller.feature.timeEnd"></md-datepicker>
        <div ng-show="form.timeEnd.$touched || form.$submitted" ng-messages="form.timeEnd.$error">
          <p ng-message="required">Date is required</p>
        </div>
      </div>
      <div>
        <md-button type="submit" class="md-raised md-primary">submit</md-button>
      </div>
    </div>
  </form>
</md-dialog>