<md-dialog layout-padding flex="80">
  <h4>Purchase Event Subscription for {{organization.name}}</h4>
  <h3>&#36;{{amount |number:2}} per month</h3>
  <form action="https://www.paypal.com/cgi-bin/webscr" ng-submit="controller.subscribe($event)" method="POST" target="_top">
      <input type="hidden" name="custom" ng-value="custom">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" ng-value="controller.paypalService.getMonthlyEvent30HostedButtonId()">
      <input type="hidden" name="return" ng-value="$window.location.origin">
      <md-button type="submit" class="md-raised md-primary">Subscribe</md-button>
  </form>
</md-dialog>