<md-table-container ng-show="uiReady">
  <table ng-model="selected" md-table md-row-select multiple>
    <tbody md-body>
      <tr md-row md-auto-select ng-repeat="data in paging.data track by data.organization.id">
        <td md-cell>
          <span>{{data.organization.name}}</span>
        </td>
        <td md-cell>
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open Event Options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item ng-show="data.permissions.has(controller.organizationService.getWritePermission())">
                <md-button ui-sref="application.internal.organization.update({organizationId: data.organization.id})">
                  <span md-menu-align-target>update</span>
                </md-button>
              </md-menu-item>
              <md-menu-item ng-show="data.permissions.has(controller.organizationService.getWritePermission()) && data.organization.parentId !== null">
                <md-button ng-click="controller.delete(data, $event)">
                  <span md-menu-align-target>delete</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button ui-sref="application.internal.event.read({organizationId: data.organization.id})" aria-label="View Events" class="md-icon-button">
            <ng-md-icon icon="arrow_forward"></ng-md-icon>
          </md-button>
        </td>
      </tr>
      <tr ng-show="paging.data.length === 0" md-row>
        <td md-cell colspan="2">
          <span class="md-subheader">No organizations found</span>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<div ng-show="!uiReady" layout-margin layout="row" layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="Add" ng-click="controller.createOrganization()">
  <ng-md-icon size="35" icon="add"></ng-md-icon>
</md-button>