<md-dialog flex="80">
  <div layout-padding class="md-inline-form">
    <form ng-submit="submit(query)">
      <md-input-container>
        <label>Name</label>
        <input ng-model="query.name">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input ng-model="query.email">
      </md-input-container>
      <div layout layout-sm="column">
        <md-input-container flex>
          <md-button ng-click="close()" type="button" class="md-raised">Cancel</md-button>
        </md-input-container>
        <md-input-container flex>
          <md-button type="submit" class="md-raised md-primary">Search</md-button>
        </md-input-container>
      </div>
    </form>
  </div>
</md-dialog>
