<md-toolbar ng-show="uiReady" class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>Update {{organization.name}}</h3>
  </div>
</md-toolbar>
<div ng-show="uiReady" layout-padding class="md-inline-form">
  <form ng-submit="!loading && controller.submit(organization)">
    <section layout-padding>
      <div layout="row" layout-padding>
        <div>
          <h4>Organization Users</h4>
        </div>
        <div>
          <a href="" ng-click="controller.addUserPermission()">add new</a>
        </div>
      </div>
      <div>
        <md-table-container>
          <table ng-model="controller.selected" md-table md-row-select multiple>
            <tbody md-body>
              <tr md-row md-auto-select ng-repeat="user in users track by user.user_id">
                <td md-cell>
                  <h5>{{user| userIdentificationFilter: true}}</h5>
                </td>
                <td md-cell>
                  <span ng-show="userPermissionModel[user.user_id].include === 0">all</span>
                  <span ng-show="userPermissionModel[user.user_id].include === 1">including</span>
                  <span ng-show="userPermissionModel[user.user_id].include === 2">excluding</span>
                  <span ng-show="userPermissionModel[user.user_id].include !== 0 && userPermissionModel[user.user_id].permission[0]">read</span>
                  <span ng-show="userPermissionModel[user.user_id].include !== 0 && userPermissionModel[user.user_id].permission[1]">write</span>
                </td>
                <td md-cell>
                  <md-button aria-label="Delete user from organization" ng-click="controller.removeUserFromOrganization(user)" ng-show="auth.idTokenPayload.sub !== user.user_id">
                    <ng-md-icon icon="delete"></ng-md-icon>
                  </md-button>
                </td>
              </tr>
              <tr ng-show="users.length === 0" md-row layout-padding>
                <td md-cell colspan="4">
                  <span class="md-subheader">No data found</span>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </section>
    <section>
      <div layout-padding layout="row">
        <div>
          <h4>Subscriptions</h4>
        </div>
        <div>
          <a href="" ng-click="controller.subscribe(organization)">add new</a>
        </div>
      </div>
      <div>
        <md-table-container>
          <table ng-model="selectedSubscriptions" md-table md-row-select multiple>
            <tbody md-body>
              <tr md-row md-auto-select ng-repeat="subscription in subscriptions track by subscription.id">
                <td md-cell>
                  <h4>Created {{subscription.created * 1000 | date:'MMMM dd'}} ({{subscription.status}})</h4>
                </td>
                <td ng-click="controller.unsubscribe(subscription)" md-cell>
                  <ng-md-icon icon="delete"></ng-md-icon>
                </td>
              </tr>
              <tr ng-show="subscriptions.length === 0" md-row layout-padding>
                <td colspan="2" md-cell>
                  <span class="md-subheader">No subscriptions found</span>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </section>
    <section>
      <div layout-padding layout="row">
        <div>
          <h4>Payment Profiles</h4>
        </div>
        <div>
          <a href="" ng-click="controller.createPaymentProfile(organization)">add new</a>
        </div>
      </div>
      <div>
        <md-table-container>
          <table ng-model="controller.selectedPaymentProfile" md-table md-row-select multiple>
            <tbody md-body>
              <tr md-row md-auto-select ng-repeat="paymentProfile in paymentProfiles track by paymentProfile.id">
                <td md-cell>
                  <span>{{paymentProfile.email}}</span>
                </td>
                <td md-cell>
                  <i ng-show="!paymentProfile.hasOwnProperty('stripe_user_id')" class="fa fa-2x fa-paypal" aria-hidden="true"></i>
                  <i ng-show="paymentProfile.hasOwnProperty('stripe_user_id')" class="fa fa-2x fa-cc-stripe" aria-hidden="true"></i>
                </td>
                <td ng-click="controller.deletePaymentProfile($event, paymentProfile)" md-cell>
                  <ng-md-icon icon="delete"></ng-md-icon>
                </td>
              </tr>
              <tr ng-show="paymentProfiles.length === 0" md-row layout-padding>
                <td colspan="3" md-cell>
                  <span class="md-subheader">No data found</span>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </section>
    <section>
      <div layout-padding layout="row">
        <div>
          <h4>Consent Acknowledgement</h4>
        </div>
        <div>
          <a href="" ng-click="controller.addConsentAcknowledgement(organization)">add new</a>
        </div>
      </div>
      <div>
        <md-table-container>
          <table ng-model="selectConsentAcknowledgement" md-table md-row-select multiple>
            <tbody md-body>
              <tr md-row md-auto-select ng-repeat="asset in assets track by asset.id">
                <td md-cell>
                  <div ng-show="asset.assetType !== 1">
                    <a href="" ng-click="controller.showAsset($event, asset)" ng-show="asset.assetType !== 1">{{asset.name}}</a>
                  </div>
                  <div ng-show="asset.assetType === 1">
                    <a ng-href="https://storage.googleapis.com/{{asset.assetId}}">{{asset.name}}</a>
                  </div>
                </td>
                <td ng-click="controller.deleteConsentAsset(asset)" md-cell>
                  <ng-md-icon icon="delete"></ng-md-icon>
                </td>
              </tr>
              <tr ng-show="assets.length === 0" md-row layout-padding>
                <td colspan="2" md-cell>
                  <span class="md-subheader">No data found</span>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </section>
    <section layout-padding>
      <div layout="row">
        <md-input-container flex>
          <label>Organization Email</label>
          <input ng-model="organization.email" autocomplete="off" type="email" required>
        </md-input-container>
      </div>
    </section>
    <div layout="row">
      <md-input-container>
        <md-button type="button" ui-sref="application.internal.organization.read" class="md-raised">Cancel</md-button>
      </md-input-container>
      <md-input-container>
        <md-button type="submit" class="md-raised md-primary">Update</md-button>
      </md-input-container>
      <md-input-container ng-show="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </md-input-container>
    </div>
  </form>
</div>
<div ng-show="!uiReady" layout="row" layout-margin layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>