<md-table-container ng-show="uiReady">
  <table ng-model="controller.selected" md-table multiple>
    <tbody md-body>
      <tr md-row md-auto-select ng-repeat="transactionData in paging.data.entity track by transactionData.transaction.id">
        <td md-cell>
          <a href="" ng-click="controller.viewItem(transactionData.item)">{{transactionData.item.name}}</a>
        </td>
        <td md-cell>
          <md-button aria-label="View QR Code" ng-click="controller.showQRCode(transactionData.transaction)">
            <i class="fa fa-qrcode fa-2x" aria-hidden="true"></i>
          </md-button>
        </td>
        <td md-cell>
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open Event Options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="controller.readTransaction(transactionData.transaction, transactionData.user, transactionData.item)">
                  <span md-menu-align-target>view transaction</span>
                </md-button>
              </md-menu-item>
<!--
              <md-menu-item>
                <md-button ng-click="controller.transferTransaction(transactionData.transaction)">
                  <span md-menu-align-target>transfer transaction</span>
                </md-button>
              </md-menu-item>
-->
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
      <tr md-row>
        <td md-cell colspan="4">
          <span class="md-subheader" ng-show="paging.data.entity.length === 0">You have no transactions</span>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<div ng-show="!uiReady" layout="row" layout-margin layout-align="center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>