<div class="transactions-partial">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <ng-md-icon icon="search"></ng-md-icon>
      <input flex ng-model="searchText" ng-change="controller.onSearchTextChange(searchText)" placeholder="search">
    </div>
  </md-toolbar>
  <md-table-container>
    <table ng-model="selected" md-table md-row-select multiple>
      <tbody md-body>
        <tr ng-repeat="transactionData in data track by transactionData.Transaction.id" md-row md-auto-select>
          <td md-cell class="transaction-user-td">
            <div>
              <div>
                <span ng-show="transactionData.User.user_id === null">{{transactionData.Transaction.given_name}} {{transactionData.Transaction.family_name}}</span>
                <span ng-show="transactionData.User.user_id !== null">{{transactionData.User | userIdentificationFilter: false}}</span>
              </div>
              <div>
                <a href="" ui-sref="application.internal.item.read({highlight: transactionData.Item.id})">{{transactionData.Item.name}}</a>
              </div>
            </div>
            <div ng-click="controller.showImage('https://storage.googleapis.com/' + transactionData.EntityAsset.assetId)" ng-if="transactionData.EntityAsset.assetId !== null">
              <img ng-src="https://storage.googleapis.com/{{transactionData.EntityAsset.assetId}}">
            </div>
          </td>
          <td md-cell>
            <div ng-show="transactionData.Transaction.status === 0">
              <div ng-show="transactionData.Transaction.amount === 0">
                <span class="payment-free">free</span>
                <span ng-show="transactionData.Transaction.quantity > 1">({{transactionData.Transaction.quantity}})</span>
              </div>
              <div ng-show="transactionData.Transaction.amount !== 0">
                <strong ng-show="transactionData.Transaction.amount < 0" class="payment-bad">-</strong>
                <strong ng-show="transactionData.Transaction.amount > 0" class="payment-complete">+</strong><span ng-show="transactionData.Transaction.currency === 'USD'">&#36;</span><span ng-show="transactionData.Transaction.currency === 'EUR'">&#128;</span><span>{{transactionData.Transaction.amount / transactionData.Transaction.quantity | absoluteValue | number: 2}}</span>
                <span ng-show="transactionData.Transaction.quantity > 1">({{transactionData.Transaction.quantity}})</span>
              </div>
            </div>
            <span ng-show="transactionData.Transaction.status === 1" class="payment-pending">pending</span>
            <span ng-show="transactionData.Transaction.status === 2" class="payment-bad">revoked</span>
            <span ng-show="transactionData.Transaction.status === 3" class="payment-bad">refunded</span>
            <span ng-show="transactionData.Transaction.status === 4" class="payment-pending">unknown</span>
            <span ng-show="transactionData.Transaction.paymentStatus === 1" class="payment-bad">insufficient payment</span>
            <span ng-show="transactionData.Transaction.paymentStatus === 2" class="payment-complete">payment overcharge</span>
          </td>
          <td md-cell>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open Event Options" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="controller.readTransaction(transactionData.Transaction, transactionData.Item, transactionData.User.user_id === null ? null : transactionData.User)">
                    <span md-menu-align-target>view transaction</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="!isVendorTransaction(transactionData.Transaction) || transactionData.Transaction.status === 2">
                  <md-button ng-click="controller.deleteTransaction(transactionData, $event)">
                    <span ng-show="transactionData.Transaction.status !== 2" md-menu-align-target>delete transaction</span>
                    <span ng-show="transactionData.Transaction.status === 2" md-menu-align-target>undo revocation</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="transactionData.Transaction.canRefund()">
                  <md-button ng-click="controller.refund(transactionData.Transaction, $event)">
                    <span md-menu-align-target>refund transaction</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="transactionData.Transaction.status === 0">
                  <md-button ng-click="controller.revokeTransaction(transactionData.Transaction, $event)">
                    <span md-menu-align-target>revoke transaction</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
        <tr ng-show="data.length === 0 && !loading" md-row>
          <td md-cell colspan="3">
            <span class="md-subheader">No data found</span>
          </td>
        </tr>
        <tr ng-show="loading" md-row>
          <td md-cell colspan="4">
            <div layout="row" layout-margin layout-align="center">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>