<md-dialog flex="80">
  <div layout-padding>
    <div layout="row" layout-align="space-between center">
      <h2>Transfer to User</h2>
      <div ng-show="loading">
        <md-progress-circular flex md-diameter="40" md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
    <div class="md-inline-form">
      <form ng-submit="!loading && controller.submit(selectedUser)">
        <md-autocomplete
          required
          placeholder="Search for a user..."
          ng-required="true"
          md-no-cache="true"
          md-delay="500"
          md-selected-item="selectedUser"
          md-search-text="text"
          md-items="user in controller.query(text)"
          md-item-text="user | userIdentificationFilter: true">
          <md-item-template>
            <span>{{user| userIdentificationFilter: true}}</span>
          </md-item-template>
          <md-not-found>No users found</md-not-found>
        </md-autocomplete>
        <md-input-container ng-show="!loading" class="md-block">
          <md-button type="submit" class="md-raised md-primary">Create</md-button>
        </md-input-container>
        <md-input-container layout-align="center center" ng-show="loading" class="md-block">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </md-input-container>
      </form>
    </div>
  </div>
</md-dialog>